<h1>New User</h1>

  <form accept-charset="UTF-8" action="/users" method="post" >
    <label for="user[username]">Username</label> <input id="username" name="user[username]" type="text" /><br />
    <label for="user[password]">Password</label>  <input id="password" name="user[password]" type="password" /><br />
    <label for="user[email]">Email</label>  <input id="user_address" name="user[email]" type="email" /><br />
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit">
  </form> 
    
    
<%= link_to 'Back', users_path %>
